{% extends 'base.html.twig' %}

{% block title %}Hello MaisonnialAlexandreController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {color: navy; margin-left: 20px; font-family: sans-serif; margin-left: 20px;  background-color: lightblue;
    text-align: center;}
    .profile-picture {border-radius: 50%; float: center; height: 200px; width: 200px;}
    example-wrapper-code{background-color: #fff;}
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur ma page d'accueil</h1>

    <p>Je m'appelle <b>Maisonnial Alexandre</b>,
    mon adresse e-mail est <b>alexandre.maisonnial@etu.univ-st-etienne.fr</b>.</p>
    
</div>

<div class="profile-picture">
<img src="https://neilpatel.com/wp-content/uploads/2017/12/portfolio-700x467.jpg" alt="">
</div>
{% endblock %}
