<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/cyborg/bootstrap.min.css">
</head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/test">Acceuil
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cv">CV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competences">E-Portfolio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
      <div class="formulaire">
            <form action="{{ asset('images/CV1.pdf')}}" method="get">
            

                <h1>Formulaire</h1>
        
                <div class="inputs">
                    <input type="nom" placeholder="Nom" name="nom" required>
                    <input type="Prénom" placeholder="Prénom" name="prenom" required>
                    <input type="email" placeholder="Email" name="email" required>
                    <input type="Numéro de téléphone" placeholder="Numéro de téléphone" name="tel" required>
                </div>


                <div align="center">
                   <a href="{{ asset('images/CV1.pdf')}}" download>
                        <button type="submit">Télecharger mon CV</button>
                    </a>
                </div>
            </form>
        </div>

        <div class="copyright">
            <p>©2023 Maisonnial_Alexandre All rights reserved</p>
        </div>

    </body>


</html>