<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css" />
</head>
<div class="letout">

    <body>
        <div class="texxt">
            <h1>Mes Loisirs</h1>
            <h2>Le Football</h2>
            <img src="{{ asset('images/foot.png') }}" alt="Jouant au football">
            <p>Le football est ma passion. J'aime jouer au football avec mes amis dans mon temps libre mais aussi en club ça permet de développer mon ésprit d'équipe.
                J'apprécie également regarder les matchs de football à la télévision et suivre les performances de mes
                équipes favorites.</p>
            <h2>Le Basket</h2>
            <img src="{{ asset('images/basket.png') }}" alt="Jouant au basket">
            <p>Le basket est également un sport que j'apprécie. J'apprécie également regarder les matchs de basket à la télévision et j'aime aussi
            le pratiquer.</p>
            <h2>Les Jeux Vidéos</h2>
            <div class="le">
                <img src="{{ asset('images/jeux-video.jpg') }}" alt="Jouant à des jeux vidéos">
            </div>
            <p>J'aime jouer aux jeux vidéos lors de mon temps libre. J'aime jouer à différents types de jeux vidéos
                allant des jeux de sport aux jeux de rôle en passant par les jeux de stratégie.
                J'aime également suivre les dernières sorties de jeux vidéos et les tendances actuelle</p>
        </div>
    </body>
</div>

</html>