<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css" />
</head>
<div class="letout">

    <body>
        <div class="texxt">
            <h1>Mes Loisirs</h1>
            <h2>Le Football</h2>
            <img src="{{ asset('images/foot.png') }}" alt="Jouant au football">
            <p>Le football est mon loisir préféré. J'aime jouer au football avec mes amis dans mon temps libre.
                J'apprécie également regarder les matchs de football à la télévision et suivre les performances de mes
                équipes favorites.</p>
            <h2>Le Basket</h2>
            <img src="{{ asset('images/basket.png') }}" alt="Jouant au basket">
            <p>Le basket est également un de mes loisirs préférés. J'aime jouer au basket dans mon temps libre et
                j'apprécie également regarder les matchs de basket à la télévision et suivre les performances de mes
                joueurs et équipes préférés.</p>
            <h2>Les Jeux Vidéos</h2>
            <div class="le">
                <img src="{{ asset('images/jeux-video.jpg') }}" alt="Jouant à des jeux vidéos">
            </div>
            <p>Les jeux vidéos sont également un de mes loisirs préférés. J'aime jouer à différents types de jeux vidéos
                dans mon temps libre, allant des jeux de sport aux jeux de rôle en passant par les jeux de stratégie.
                J'aime également suivre les dernières sorties de jeux vidéos et les tendances dans l'industrie.</p>
        </div>
    </body>
</div>

</html>